<!-- 
TODO

    * add favicon

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="css/style.css" rel="stylesheet">
    <script defer src="js/script.js"></script>
    <script defer src="js/main.js"></script>
    
    <% if (testString) { %>
        <title> <%= testString %> Run-Counter </title>
    <% } %>
</head>
<body>
    <div class="wrapper">
        <div class="col-1 grid-sidebar-left">
            <div class="input">
                <form action="/runs" method="POST">
                    <input id="bossInput" type="text" placeholder="bossname" name="bossname">
                    <input id="runInput" type="text" placeholder="run" name="run">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div>
                <h2> RUNS </h2>
                <% for(let i = 0; i < runs.length; i++) {%>
                    <div class='run-container'>
                        <div class="run" onclick="load('<%= runs[i].bossname %>', '<%= runs[i].run %>')">
                            <div class="bossTable">
                                <!-- sidemenu bossname and runs -->
                                <span class="loadBoss"> <%= helper.title(runs[i].bossname) %>: <%= runs[i].run %></span>
                            </div>
                        </div>
                        <div class="trash" title="DELETE <%= runs[i].bossname %>"onclick="deleteRun('<%= runs[i].bossname %>')"><i class="trash-icon fas fa-trash"></i></div>
                    </div>
                    <% } %>
            </div>
        </div>
            <div class="col-2 grid-main">
    
                <center>
                    <% if (run) { %>
                        <!-- center screen bossname and runs -->
                        <h2 id="name"><%= helper.title(run.bossname) %></h2>
                        <h1 id="runTally"><%= run.run %></h1>
                        <%} else { %>
                            <h2 id="name"></h2>
                            <h1 id="runTally">0</h1>
                            <% } %>
                            <div>
                                <button id="update-button" class="noSelect">+</button>
                                <% if (testString) { %>
                                    <h2 style="color: red;"><%= testString %> </h2>
                                <% } %>
                            </div>
                        </center>
            </div>
            <div class="grid-sidebar-right"></div>
    </div>
</body>
</html> 